#{extends 'main.html' /}
#{set title:'Home' /}

*{<!-- #{welcome /} -->}*
<div style="margin: 60px; width: 700px;">
    <div id="leftBlock" style="float: left">
        <div id="oauthInviteBlock">
            <span>Invite Friends</span>

            <div class="button"><a href="@{Invite.inviteGmail()}">Select from gmail</a></div>
            <div class="button"><a href="@{Invite.inviteFacebook()}">Select from facebook</a></div>
            <div class="button"><a href="@{Invite.inviteLinkedIn()}">Select from linkedin</a></div>
        </div>
        <div id="emailInput" style="margin-top: 20px;">
            <label for="emailAddress">Email</label><br>
            <input type="text" name="emailAddress" id="emailAddress" class="deletable">
            <span class="errormsg" id="emailError">Invalid email</span>
        </div>

        <div style="margin-top: 20px">
            <span>Click on an email to select it for invitation</span>
        </div>
        <div id="retrievedEmailAddresses" class="retrieved-email-list">

            <ul>
            #{list items:contacts, as:'contact' }
                <li id="${contact.id}"><a href="javascript:selectEmail(${contact.id});">${contact.email}
                    , ${contact.name}</a></li>
            #{/list}
            </ul>
        </div>
        <div class="button"><a href="javascript:selectAllEmails();">Add All</a></div>
    </div>
    <div id="rightBlock" style="float: right;">
        <div class="button"><a href="@{Application.sendInvitations()}">Invite</a></div>

        <div style="margin-top: 20px">
            <span>Click on an email to remove it from invitations list</span>
        </div>
        <div id="selectedEmailAddresses" class="selected-email-list">
            <ul>

            </ul>
        </div>
        <div class="button"><a href="javascript:deselectAllEmails();">Remove All</a></div>
    </div>
</div>

<script>

    var filteredContactId = 0;
    var selectedEmailsSet = new Array();

    jQuery(document).ready(function () {
        jQuery('input.deletable').wrap('<span class="deleteicon" />').after(jQuery('<span/>').click(function () {
            jQuery(this).prev('input').val('').focus();
        }));

        jQuery("#emailAddress").autocomplete({
            source:"@{Application.contacts()}",
            minLength:2,
            select:function (event, ui) {
                if (ui.item) {
                    jQuery("#emailAddress").val(ui.item.label);
                    filteredContactId = ui.item.value;
                }

                return false;
            },
            focus:function (event, ui) {
                return false;
            }
        });
    });

    jQuery("#emailAddress").keyup(function (event) {
        var keyCode = event.keyCode;
        var $emailError = jQuery('#emailError');
        if (keyCode == 13) {
            var $input = jQuery(event.srcElement);
            var email = $input.val();

            if (validateEmail(email)) {
                if (selectedEmailsSet.indexOf(email) == -1) {
                    $emailError.hide();
//                    selectedEmailsSet.push(email);
                    $input.val('');

                    if (filteredContactId != 0) {
                        selectEmail(filteredContactId);
                        filteredContactId = 0;
                    }
                }
            } else {
                $emailError.show();
            }
        }
    });

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function selectEmail(id) {
        var $listElement = jQuery("#" + id);
        $listElement.detach();
        var $link = jQuery($listElement.children()[0]);
        $link.attr('href', 'javascript:deselectEmail(' + id + ');');
        var $selectedList = jQuery("#selectedEmailAddresses ul");
        $listElement.appendTo($selectedList);
        var href = $link.html();
        href = href.substring(0, href.lastIndexOf(','));
        selectedEmailsSet.push(href);
    }

    function deselectEmail(id) {
        var $listElement = jQuery("#" + id);
        $listElement.detach();
        var $link = jQuery($listElement.children()[0]);
        $link.attr('href', 'javascript:selectEmail(' + id + ');');
        var href = $link.html();
        href = href.substring(0, href.lastIndexOf(','));
        var $retrievedList = jQuery("#retrievedEmailAddresses ul");
        $listElement.appendTo($retrievedList);
        var indexOf = selectedEmailsSet.indexOf(href);
        delete selectedEmailsSet[indexOf];
    }

    jQuery('.button').click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });

    function selectAllEmails() {
        jQuery("#retrievedEmailAddresses ul li").each(function () {
            var $listElement = jQuery(this);
            var id = $listElement.attr('id');
            selectEmail(id);
        });
    }

    function deselectAllEmails() {
        jQuery("#selectedEmailAddresses ul li").each(function () {
            var $listElement = jQuery(this);
            var id = $listElement.attr('id');
            deselectEmail(id);
        });
    }

</script>


